<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="clean_cache_after_customer_login_observer" instance="Mobikasa\Customer\Observer\CustomerLogin" />
    </event>
    <event name="customer_logout">
        <observer name="clean_cache_after_customer_logout" instance="Mobikasa\Customer\Observer\CustomerLogin" />
    </event>
</config>