<!--@subject {{trans "RMA #%request_text_id by %customer_name: status is %request_status" request_text_id=$request.getTextId() customer_name=$request.getCustomerName() request_status=$request.getStatus()}}@-->
{{template config_path="design/email/header_template"}}
{{inlinecss file="Aheadworks_Rma::css/email.css"}}
<table style="width: 100%; border: 3px solid #F4A63B; background-color: #38121342; margin-top:-5px;">
    <tr>
        <td>
            <table style="max-width: 370px; margin:0 auto; float: none; text-align: center;  color: #1A1818;">
                <tr>
                    <td>
                        <h3 style="letter-spacing: 0px; margin-top:42px; font-family: serif; font-size:24.08px; margin-bottom: 23px;">Your refund request was received</h3>
                        <p style="font-size: 12px; line-height: 17px; margin-bottom: 25px; margin-top:0px;">We would like to inform you that we will contact you to proceed with the refund.</p>
                        {{trans '<a href="%account_url" style="margin:15.95px auto 18.47px; width: 205px; text-decoration: none; color:#1A1818; background-color:#c5b59f ; display:block; letter-spacing: 2.05px; text-transform:uppercase; font-weight:bold;font-size:12px; letter-spacing: 2.05; line-height: 14.4px; padding-top: 8px; padding-bottom: 8px;">VIEW ACCOUNT</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
                        <!--p style="font-size: 12px; line-height: 17px; font-style: italic; margin-bottom: 23px; margin-top:0px;">You will soon receive the amount in the payment method you used. It may take up to 20 business days to show, depending on your bank or payment provider</p-->
                        <p style="font-size: 12px; line-height: 17px; margin-bottom: 23px; margin-top:0px;">We hope to hear from you again.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="width:100%; padding:15px; border:1px solid #ddd;">
    <tr>
        <td> 
            <table style="width:100%;">
                <tr>
                    <td>
                        <p style="font-size: 12px; line-height: 17px; font-style: italic;">Our sincere apologize for any inconvenience this may have caused. Please contact us if there’s anything we can assist you with in the meantime.</p>
                        <div style="text-align: center; margin-top:15px;">
                            <a href="mailto:customercare@thelatinlabel.com" style="margin:15.95px auto 18.47px; width: 205px; text-decoration: none; color:#1A1818; background-color:#c5b59f ; display:block; letter-spacing: 2.05px; text-transform:uppercase; font-weight:bold;font-size:12px; letter-spacing: 2.05; line-height: 14.4px; padding-top: 8px; padding-bottom: 8px;">NEED HELP?</a>
                        </div>
                    </td>
                </tr>
            </table>           
            <table style="display:none; width:100%;">
                <tr>
                    <td>
                        <p style="font-size: 12px; line-height: 17px;">
                            {{trans
                                'RMA <a href="%admin_url">#%request_id</a> status has been changed to %request_status.'
                                admin_url=$request.getAdminUrl() request_id=$request.getTextId() request_status=$request.getStatus()
                            |raw}}
                        </p>
                        <p style="font-size: 12px; line-height: 17px;">
                            {{trans
                                '<strong><span>RMA ID:</span></strong> <a href="%admin_url">#%request_id</a>'
                                admin_url=$request.getAdminUrl() request_id=$request.getTextId()
                            |raw}}<br />
                            {{trans
                                '<strong><span>Order ID:</span></strong> <a href="%admin_url">#%order_id</a>'
                                admin_url=$request.getNotifyOrderAdminLink() order_id=$request.getOrderId()
                            |raw}}<br />
                            {{trans
                                '<strong><span>Customer:</span></strong> %customer_name <a href="mailto:%customer_email">%customer_email</a>'
                                customer_name=$request.getCustomerName() customer_email=$request.getCustomerEmail()
                            |raw}}<br />
                            {{trans
                                '<strong><span>Date:</span></strong> %date'
                                date=$request.getFormattedCreatedAt()
                            |raw}}<br />
                            {{layout handle="aw_rma_email_request_custom_field" rma_request=$request store_id=$store.getStoreId() area="frontend"}}
                        </p>
                        {{depend request.getCustomText()}}
                        <p style="font-size: 12px; line-height: 17px;">
                            {{trans '%custom_text' custom_text=$request.getCustomText() |raw}}
                        </p>
                        {{/depend}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h2 style="font-size:16px; font-family: 'Lato', sans-serif; width:95%; padding:0 12px; font-weight: bold; letter-spacing: 2.74px; margin-top:28.12px; margin-bottom: 14.81px;">Items</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        {{layout handle="aw_rma_email_request_item" rma_request=$request store_id=$store.getStoreId() area="frontend"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{depend request.getNotifyCommentText()}}
                        <div class="aw-rma__comment">
                            <strong><span>{{var request.getNotifyCommentLabel()}}</span></strong>
                            <div class="comment-text">{{var request.getNotifyCommentText() |nl2br}}</div>
                        </div>
                        {{/depend}}
                        <p style="font-size: 12px; line-height: 17px;">
                            {{trans
                                'You can view and manage the request <a href="%admin_url">here</a>'
                                admin_url=$request.getAdminUrl()
                            |raw}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}