<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var customer.name":"Customer Name",
"var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<table style="width: 100%; border: 3px solid #F4A63B; background-color: #38121342; margin-top:-5px;">
    <tr>
        <td>
            <table style="max-width: 420px; margin:0 auto; float: none; text-align: center;  color: #1A1818;">
                <tr>
                    <td>
                        <h3 style="letter-spacing: 0px; margin-top:42px; font-family: serif; font-size:24.08px;">Forgot your password?</h3>
                        <p style="font-size: 14px; line-height: 20px; margin-bottom: 23px; margin-top:0px;">Need to reset your password? No problem.<br> Just click below to get started.</p>
                        <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])}}" target="_blank" style="margin:15.95px auto 18.47px; width: 205px; text-decoration: none; color:#1A1818; background-color:#F4A63B ; display:block; letter-spacing: 2.05px; text-transform:uppercase; font-weight:bold;font-size:12px; letter-spacing: 2.05; line-height: 14.4px; padding-top: 8px; padding-bottom: 8px;">RESET MY PASSWORD</a>
                        <p style="font-size: 14px; line-height: 20px; font-style: italic; margin-bottom: 23px; margin-top:0px;">If you haven’t requested this, kindly ignore this email or let us know <br>Your password won’t change untill you create a new password</p>
                        <p class="greeting" style="display:none; font-size: 14px; line-height: 20px; margin-bottom: 0px; margin-top:0px;">{{trans "%name," name=$customer.name}}</p>
                        <p style="display:none; font-size: 14px; line-height: 20px; margin-bottom: 0px; margin-top:0px;">{{trans "There was recently a request to change the password for your account."}}</p>
                        <p style="display:none; font-size: 14px; line-height: 20px; margin-bottom: 0px; margin-top:0px;">{{trans "If you requested this change, set a new password here:"}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="display: none; width:100%; padding:15px; border:1px solid #ddd;">
    <tr>
        <td>
            <table cellpadding="15" style="margin-bottom: 25px; margin-left: auto; margin-right: auto; width:100%; max-width: 400px; text-align: center;">
                <tr>
                    <td colspan="2">
                        <h3 style="text-align: center; margin-bottom: 0px; letter-spacing: 0px; margin-top:24px; font-family: serif; font-size:19.02px;">HERE’S WHAT’S NEW</h3>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="{{store url=''}}/media/email/img-prod.jpg" style="margin-top: 20px; max-width: 143px; display:block; margin-left:auto; margin-right:auto; width:100%;" alt=""/>
                        <p style="font-size:10px; margin-bottom:0px; letter-spacing: 2.08px; font-weight:300; color: #1A1818; text-transform:uppercase;">INES BELLOREZ</p>
                        <p style="font-size:10px; margin-bottom:0px; margin-top:5px; letter-spacing: 1.15px; font-weight:300; color: #6D6F72; text-transform:uppercase;">POLKA PANTS</p>
                        <p style="font-size:10px; margin-top:10px; margin-bottom:10px; letter-spacing: 2.08px;"><strong style="color:#1A1818;">$150</strong></p>
                        <a style="font-size:10px; display:inline-block; padding:5px 10px; margin-bottom:0px; letter-spacing: 1.71px; font-weight:300; color: #6D6F72; text-transform:uppercase; background-color: #F4A63B; color: #1A1818; font-weight: bold;" href="">Shop Now</a>
                    </td>
                    <td style="text-align: center;">
                        <img src="{{store url=''}}/media/email/img-prod-2.jpg" style="margin-top: 20px; max-width: 143px; display:block; margin-left:auto; margin-right:auto; width:100%;" alt=""/>
                        <p style="font-size:10px; margin-bottom:0px; letter-spacing: 2.08px; font-weight:300; color: #1A1818; text-transform:uppercase;">INES BELLOREZ</p>
                        <p style="font-size:10px; margin-bottom:0px; margin-top:5px; letter-spacing: 1.15px; font-weight:300; color: #6D6F72; text-transform:uppercase;">POLKA PANTS</p>
                        <p style="font-size:10px; margin-top:10px; margin-bottom:10px; letter-spacing: 2.08px;"><strong style="color:#1A1818;">$150</strong></p>
                        <a style="font-size:10px; display:inline-block; padding:5px 10px; margin-bottom:0px; letter-spacing: 1.71px; font-weight:300; color: #6D6F72; text-transform:uppercase; background-color: #F4A63B; color: #1A1818; font-weight: bold;" href="">Shop Now</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="{{store url=''}}/media/email/img-prod-2.jpg" style="margin-top: 20px; max-width: 143px; display:block; margin-left:auto; margin-right:auto; width:100%;" alt=""/>
                        <p style="font-size:10px; margin-bottom:0px; letter-spacing: 2.08px; font-weight:300; color: #1A1818; text-transform:uppercase;">INES BELLOREZ</p>
                        <p style="font-size:10px; margin-bottom:0px; margin-top:5px; letter-spacing: 1.15px; font-weight:300; color: #6D6F72; text-transform:uppercase;">POLKA PANTS</p>
                        <p style="font-size:10px; margin-top:10px; margin-bottom:10px; letter-spacing: 2.08px;"><strong style="color:#1A1818;">$150</strong></p>
                        <a style="font-size:10px; display:inline-block; padding:5px 10px; margin-bottom:0px; letter-spacing: 1.71px; font-weight:300; color: #6D6F72; text-transform:uppercase; background-color: #F4A63B; color: #1A1818; font-weight: bold;" href="">Shop Now</a>
                    </td>
                    <td style="text-align: center;">
                        <img src="{{store url=''}}/media/email/img-prod.jpg" style="margin-top: 20px; max-width: 143px; display:block; margin-left:auto; margin-right:auto;  width:100%;" alt=""/>
                        <p style="font-size:10px; margin-bottom:0px; letter-spacing: 2.08px; font-weight:300; color: #1A1818; text-transform:uppercase;">INES BELLOREZ</p>
                        <p style="font-size:10px; margin-bottom:0px; margin-top:5px; letter-spacing: 1.15px; font-weight:300; color: #6D6F72; text-transform:uppercase;">POLKA PANTS</p>
                        <p style="font-size:10px; margin-top:10px; margin-bottom:10px; letter-spacing: 2.08px;"><strong style="color:#1A1818;">$150</strong></p>
                        <a style="font-size:10px; display:inline-block; padding:5px 10px; margin-bottom:0px; letter-spacing: 1.71px; font-weight:300; color: #6D6F72; text-transform:uppercase; background-color: #F4A63B; color: #1A1818; font-weight: bold;" href="">Shop Now</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
