<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Credit memo for your %store_name order" store_name=$store.frontend_name}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var comment|escape|nl2br":"Credit Memo Comment",
"var creditmemo.increment_id":"Credit Memo Id",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.customer_name":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var store.frontend_name":"Store Frontend Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var store_hours":"Store Hours",
"var creditmemo":"Credit Memo",
"var order":"Order",
"var order_data.is_not_virtual":"Order Type"
} @-->
{{template config_path="design/email/header_template"}}
<table style="width: 100%; border: 3px solid #F4A63B; background-color: #38121342; margin-top:-5px;">
    <tr>
        <td>
            <table style="max-width: 380px; margin:0 auto; float: none; text-align: center;  color: #1A1818;">
                <tr>
                    <td>
                        <h3 style="letter-spacing: 0px; margin-top:42px; font-family: serif; font-size:24.08px; text-transform: capitalize; margin-bottom: 0px;">Hello, {{var order.getShippingAddress().getFirstName()}} {{var order.getShippingAddress().getLastName()}}</h3>
                        <h5 style="letter-spacing: 0px; margin-top:3px; font-size:12px;">{{trans "Your Credit Memo #%creditmemo_id for Order #%order_id" creditmemo_id=$creditmemo.increment_id order_id=$order.increment_id}}</h5>
                        <p style="font-size: 14px; line-height: 20px; margin-bottom: 0px; margin-top: 15.95px;">
                            {{trans "Thank you for your order from %store_name." store_name=$store.frontend_name}}
                            {{trans 'You can check the status of your order by logging into your account.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
                        </p>
                        {{trans '<a href="%account_url" style="margin:15.95px auto 18.47px; width: 205px; text-decoration: none; color:#1A1818; background-color:#F4A63B ; display:block; letter-spacing: 2.05px; text-transform:uppercase; font-weight:bold;font-size:12px; letter-spacing: 2.05; line-height: 14.4px; padding-top: 8px; padding-bottom: 8px;">VIEW YOUR ORDER</a>' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
                        <p style="font-size: 14px; line-height: 20px; margin-bottom: 23px; margin-top:0px;">
                            {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                            {{depend store_hours}}
                                {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                            {{/depend}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="width: 100%; border:1px solid #ddd; padding:15px;">
    <!--tr class="email-intro">
        <td>
            <p class="greeting">{{var order.getShippingAddress().getFirstName()}} {{var order.getShippingAddress().getLastName()}}</p>
            <p>
                {{trans "Thank you for your order from %store_name." store_name=$store.frontend_name}}
                {{trans 'You can check the status of your order by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                    {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr-->
    <!--tr class="email-summary">
        <td>
            <h1>{{trans "Your Credit Memo #%creditmemo_id for Order #%order_id" creditmemo_id=$creditmemo.increment_id order_id=$order.increment_id}}</h1>
        </td>
    </tr-->
    
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info" style="width: 100%;;">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            
            <table style="width:100%; margin-top:25px;">
                <tr>
                    <td colspan="4">
                        <h2 style="font-size:16px; font-family: 'Lato', sans-serif; width:95%; padding:0px; font-weight: bold; letter-spacing: 2.74px; margin-top:28.12px; margin-bottom: 14.81px;">ORDER DETAILS</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <!-- Product grid -->
                        {{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}
                    </td>
                </tr>
            </table>
            
            <table style="width:100%;">
                <tr>
                    <td>
                        <h2 style="font-size:15px; font-family: 'Lato', sans-serif; width:100%; padding:0px; font-weight: bold; letter-spacing: 2.74px; margin-top:25px; margin-bottom: 0px;">SHIPPING ADDRESS</h2>
                        <hr/>
                        <table style="width:100%; margin-top:10px;">
                            <tr>
                                <td style="border: 3px solid #F4A63B; padding:25px 15px;">
                                    <div style="min-height:170px;"><p>{{var formattedBillingAddress|raw}}</p></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        {{depend order_data.is_not_virtual}}
                        <h2 style="font-size:15px; font-family: 'Lato', sans-serif; width:95%; padding:0px; font-weight: bold; letter-spacing: 2.74px; margin-top:25px; margin-bottom: 0px;">BILLING ADDRESS</h2>
                        <hr/>
                        <table style="width:100%; margin-top:10px;">
                            <tr>
                                <td style="border: 3px solid #F4A63B; padding:25px 15px;">
                                    <div style="min-height:170px;"><p>{{var formattedShippingAddress|raw}}</p></div>
                                </td>
                            </tr>
                        </table>
                        {{/depend}}
                    </td>
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Payment Method"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var order.shipping_description}}</p>
                    </td>
                    {{/depend}}
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
