<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Update to your %store_name shipment" store_name=$store.frontend_name}} @-->
<!--@vars {
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.customer_name":"Customer Name",
"var comment|escape|nl2br":"Order Comment",
"var order.increment_id":"Order Id",
"var order_data.frontend_status_label":"Order Status",
"var shipment.increment_id":"Shipment Id",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours"
} @-->
{{template config_path="design/email/header_template"}}

<table style="width: 100%; border: 3px solid #F4A63B; background-color: #38121342; margin-top:-5px;">
    <tr>
        <td>
            <table style="max-width: 380px; margin:0 auto; float: none; text-align: center;  color: #1A1818;">
                <tr>
                    <td>
                        <h3 style="letter-spacing: 0px; line-height: normal; margin-bottom: 0px; margin-top:42px; font-family: serif; font-size:24.08px;">Hello {{var order.getShippingAddress().getFirstName()}} {{var order.getShippingAddress().getLastName()}}</h3>
                        <p style="font-size: 14px; line-height: 20px; margin-bottom: 10px; margin-top:12px;">Your shippment updated.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="width: 100%; border:1px solid #ddd;">
    <tr class="email-intro">
        <td style="padding:15px 20px;">
            <p class="greeting" style="text-transform: capitalize;">{{trans "%name," name=$order_data.customer_name}}</p>
            <p>
                {{trans
                    "Your order #%increment_id has been updated with a status of <strong>%order_status</strong>."

                    increment_id=$order.increment_id
                    order_status=$order_data.frontend_status_label
                |raw}}
            </p>
            <p>{{trans 'You can check the status of your order by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}</p>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                    {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
